html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

svg {
    display: initial !important;
}

// Tailwind SCSS
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './tailwind-preflight';
